<!DOCTYPE html>
<html lang="en">


<!-- Include Add the needed head tags and links -->
<%- include("partials/head", {name:user.firstName+" "+user.lastName})%>

<body>

  <!-- Include Navbar -->
  <%- include("partials/nav")%>


  <h1>Wait</h1>



  <!-- Include footer -->
  <%- include("partials/footer") %>

  <!-- Include Add the needed scripts -->
  <%- include("partials/js_links") %>




</body>

</html>